<table class="table">
  <tbody>
    <tr>
      <th>Repository</th>
      <th>Issue #</th> 
      <th>Issue State</th>
      <th>Issue Title</th>
      <th>Milestone #</th>
      <th>Time Duration Sum (Comment Count)</th>
      <th>Budget Duration Sum (Comment Count)</th>
      <th>Budget Left</th>
    </tr>
    <% @issues.each do |i| %>
        <tr>
    			<td><%= i["repo_name"] %></td>
    			<td><a href="/issues-spent-hours/<%= i["repo_name"] %>/<%= i["issue_number"] %>"><%= i["issue_number"] %></a></td>
    			<td><%= i["issue_state"] %></td>
    			<td><%= i["issue_title"] %></td>
    			<td><%= i["milestone_number"] %></td>
    			<td><%= i["time_duration_sum_human"] %> <span class="badge"><%= i["time_comment_count"] %></span></td>
          <td><%= i["budget_duration_sum_human"] %> <span class="badge"><%= i["budget_comment_count"] %></span></td>
          <td><%= i["budget_left_human"] %></td>
        </tr>
		<% end %>
  </tbody>
</table>