<table class="table">
  <tbody>
    <tr>
      <th>Repository</th>
      <th>Issue #</th> 
      <th>Issue State</th>
      <th>Issue Title</th>
      <th>Milestone Number</th>
      <th>Time Duration Sum (Time Commont Count) / Budget Duration Sum</th>
    </tr>
    <% @issues.each do |i| %>
			<tr>
				<td><%= i["repo_name"] %></td>
				<td><%= i["issue_number"] %></td>
				<td><%= i["issue_state"] %></td>
				<td><%= i["issue_title"] %></td>
				<td><%= i["milestone_number"] %></td>
				<td><%= i["time_duration_sum"] %>(<%= i["time_comment_count"] %>) / <%= i["budget_duration_sum"] %>(<%= i["budget_comment_count"] %>)</td>
			</tr>
		<% end %>
  </tbody>
</table>