<h1>Specific Issue Breakdown from Milestone</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Repository: <%= @issuesInMilestone.first["repo_name"] %> </h2>
  </div>
  <div class="panel-body">
    <p>Milestone Number: <%= @issuesInMilestone.first["milestone_number"] %> </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Issue List</h2>
  </div>
	<table class="table">
		<tbody>
			<tr>
			  <th>Issue #</th>
			  <th>Issue Title</th>
			  <th>Issue State</th>
			  <th>Time Duration Sum</th>
			  <th>Time Comment Count</th>
			</tr>
			<% @issuesInMilestone.each do |i| %>
				<tr>
					<td><a href="/<%= i["repo_name"] %>/issues/<%= i["issue_number"] %>"><%= i["issue_number"] %></a></td>
					<td><%= i["issue_title"] %></td>
					<td><%= i["issue_state"] %></td>
					<td><%= i["time_duration_sum_human"] %></td>
					<td><%= i["time_comment_count"] %></td>
				</tr>
			<% end %>
	  </tbody>
	</table>  
</div>