
<table class="table">
	<tbody>
		<tr>
		  <th>Repository</th>
		  <th>Issue #</th> 
		  <th>Work Logged By</th>
		  <th>Time Duration Sum</th>
		  <th>Time Comment Count</th>
		</tr>
<% @issueTime.each do |i| %>
	<tr>
		<td><%= i["repo_name"] %></td>
		<td><%= i["issue_number"] %></td>
		<td><%= i["work_logged_by"] %>
		<td><%= i["time_duration_sum"] %></td>
		<td><%= i["time_comment_count"] %></td>
	</tr>
<% end %>
</tbody>
</table>
