<table class="table">
	<tbody>
		<tr>
		  <th>Repository</th>
		  <th>Issue #</th>
		  <th>Issue Title</th>
		  <th>Issue State</th>
		  <th>Milestone #</th>		  
		  <th>Work Logged By</th>
		  <th>Time Duration Sum</th>
		  <th>Time Comment Count</th>
		</tr>
<% @issues_spent_hours.each do |i| %>
	<tr>
		<td><%= i["repo_name"] %></td>
		<td><%= i["issue_number"] %></td>
		<td><%= i["issue_title"] %></td>
		<td><%= i["issue_state"] %></td>
		<td><%= i["milestone_number"] %></td>
		<td><%= i["work_logged_by"] %></td>
		<td><%= i["time_duration_sum_human"] %></td>
		<td><%= i["time_comment_count"] %></td>
	</tr>
<% end %>
</tbody>
</table>
