
<table class="table">
	<tbody>
		<tr>
		  <th>Repository</th>
		  <th>Category</th> 
		  <th>Label</th>
		  <th>Milestone #</th>
		  <th>Issue Number</th>
		  <th>Issue Title</th>
		  <th>Issue State</th>
		  <th>Time Duration Sum (Time Comment Count)</th>
		</tr>
<% @labelsTime.each do |l| %>
	<tr>
		<td><%= l["repo_name"] %></td>
		<td><%= l["category"] %></td>
		<td><%= l["label"] %></td>
		<td><%= l["milestone_number"] %></td>
		<td><%= l["issue_number"] %></td>
		<td><%= l["issue_title"] %></td>
		<td><%= l["issue_state"] %></td>
		<td><%= l["time_duration_sum"] %> (<%= l["time_comment_count"] %>)</td>
	</tr>
<% end %>
</tbody>
</table>
