<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Time tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Time Tracking</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/timetrack/StephenOTT/Test1">Download Data</a></li>
            <li><a href="/analyze-issues/StephenOTT/Test1">Analyze issues</a></li>
            <li><a href="/analyze-milestones/StephenOTT/Test1">Analyze milestones</a></li>
            <li><a href="/analyze-issue-time/StephenOTT/Test1/8">Analyze time in issue</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="/login">Login</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
        
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <!--Messaging Code Start -->
      <%if @dangerMessage then %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=@dangerMessage%>
          </div>
      <% end %>
      <%if @warningMessage then %>
          <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=@warningMessage%>
          </div>
      <% end %>
      <%if @infoMessage then %>
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=@infoMessage%>
          </div>
      <% end %>
      <%if @successMessage then %>
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=@successMessage%>
          </div>
      <% end %>  
      <!--Messaging Code End -->
      <div>
            <%= yield %>
      </div>

  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>