
<table class="table">
	<tbody>
		<tr>
		  <th>Repository</th>
		  <th>Milestone #</th> 
		  <th>Milestone State</th>
		  <th>Milestone Title</th>
		  <th>Milestone Open Issues (closed issues)</th>
		  <th>Milestone Duration Sum</th>
		</tr>
<% @milestones.each do |m| %>
	<tr>
		<td><%= m["repo_name"] %></td>
		<td><%= m["milestone_number"] %></td>
		<td><%= m["milestone_state"] %></td>
		<td><%= m["milestone_title"] %></td>
		<td><%= m["milestone_open_issue_count"] %> / <%= m["milestone_closed_issue_count"] %></td>
		<td><%= m["milestone_duration_sum"] %></td>
	</tr>
<% end %>
</tbody>
</table>
